.container {
  background-color: black;
  height: 8vh;
  padding: 0 100px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav_links {
  display: flex;
  height: 100%;
  margin: 0 auto;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
